.JimiDates {
	position: absolute;
	right: -200px;
	top: 0;
	z-index: 5;
}

.DatesContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 1400px;
	height: 100%;
	min-height: 400px;
  display: table;
  height: 100%;
}

.TourDatesWrapper {
  display: table-cell;
  vertical-align: middle;
}

.TourDates{
	margin: 0 auto;
	text-align: left;
	height: 400px;
	width: 400px;
	z-index: 2;
	font-size: 24px;
}

.TourDates > a {
	margin: 1rem;
	font-size: 48px;
}

.TourDate {
	margin: 1rem;
}

.TourDate a {
	width: 100%;
	font-size: 24px;
}

.TourDate a * {
	display: inline-block;
	width: 50%;
	font-size: 24px;
}

.TourDate a:hover * {
	text-decoration: underline;
}

.TourDate a * {
	text-transform: uppercase;
}

.TourDateDate {
	text-align: right;
}

.DatesWrapper {
	height: 100%;
	overflow: hidden;
}

.BG {
	position: fixed;
  left: -5%;
  top: -5%;
  z-index: 0;

  display: block;

	background-image: url("../../img/bgrs.png");
	width: 110%;
  height: 110%;

  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
