.Contact {
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	background-color: #66da89;
	
	
}


.ContactJimi {
	left: -300px;
}

.ContactWrapper {
	position: relative;
	margin: 0;
	top: -140px;
	left: -850px;
	height: 100%;
	width: 1200px;
	min-width: 1200px;
	margin: 0 auto;
}

.ContactFields {
	text-align: right;
	position: absolute;
	height: 300px;
	top: calc(50% - 150px);
	width: auto;
	right: 100px;
	margin: 0;
	
}

.ContactFields a {
	margin: 1rem;
	font-size: 18px;
	text-decoration: underline;
	margin-left: 97px;
	
	
	
}

.ContactField {
	text-transform: uppercase;
	text-align: left;
	font-weight: normal;
	margin: 1rem;
	font-size: 18px;
	color: #1c5d2e;
	font-family: 'Knockout', sans-serif;

	
}

.ContactField a{
	margin: 0;
	font-size: 17px;
	
}

.back {
	position: absolute;
	left: 550px;
	top: 200px;
	font-weight: bold;
	margin: 1rem;
	margin-bottom: 5rem;
	color: #1c5d2e;
	font-family: 'Knockout', sans-serif;
}

.bgImage {
	display: block;
	width: 100vw;
	height: 100vh;
	object-fit: cover; 
  }

  .contactHeader{
	font-family: 'Lust Script Display', sans-serif;
	color: #1c5d2e;
	margin-right: 140px;
	font-size: 40px;
	font-weight:bold;
  }