.ShowsHeader{
    font-family: 'Lust Script Display', sans-serif;
    color: #1c5d2e;
    margin: auto;
	font-size: 40px;
    font-weight:bold;
	text-align: center;
    margin-bottom: 50px;

}
.Shows {
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	background-color: #66da89;
	
	
}


.ShowsJimi {
	left: -300px;
}

.ShowsWrapper {
	position: relative;
	margin: 0;
	top: -140px;
	left: -850px;
	height: 100%;
	width: 1200px;
	min-width: 1200px;
	margin: 0 auto;
}

.ShowsFields {
	text-align: right;
	position: absolute;
	height: 300px;
	top: calc(50% - 150px);
	width: auto;
	right: 50px;
    margin: auto;

}

.ShowsFields a {
	margin: 1rem;
	font-size: 18px;
	text-decoration: underline;
	
	
}

.ShowsField {
	text-transform: uppercase;
	text-align: left;
	font-weight: normal;
	margin: 1rem;
	font-size: 18px;
	color: #1c5d2e;
	font-family: 'Knockout', sans-serif;
	
}

.back {
	position: absolute;
	left: 80px;
	top: 200px;
	font-weight: bold;
	margin: 1rem;
	margin-bottom: 5rem;
	color: #1c5d2e;
	font-family: 'Knockout', sans-serif;
}

.bgImage {
	display: block;
	width: 100vw;
	height: 100vh;
	object-fit: cover; 
  }

