.MobileApp {
	background: url("/bgmobile.png") no-repeat center #eee;
	background-size: contain;
	width: 100%;
	height: 100%;
	position: absolute;
  font-family: 'Lust Script Display', sans-serif;
  color: #dcd09c; /*color of navigation links*/
  text-align: center;
}

.MobileMain {
  width: 100%;
  color: #dcd09c;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.MobileMain a {
  display: block;
  margin: 50px;
  cursor: pointer;
  font-size: 30px
}

.Contact.Mobile {
	background-color: #000;
	color: #1c5d2e;
}

.Contact.Mobile .ContactFields {
  right: 8px;
  top: 50px;
  margin: auto;
}

.Contact.Mobile .ContactField {
  font-size: 14px;
  margin-top: 40px;
  
}

.Contact.Mobile .back {

  width: 100%;
	bottom: 0;
  right: 10px;
  margin: 0;
	margin-bottom: 5rem;
  text-align: center;
  font-weight: bold;
  color: white;

}

.Contact.Mobile .contactHeader{
  
  margin-bottom: 10px;
  text-align: center;
}

.Contact.Mobile .ShowsField {
  font-family: 'Knockout', sans-serif;
  margin-top: 40px;


}
