.MobileApp {
	background: url("/bgmobile.png") no-repeat center #eee;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
  font-family: 'Lust Script Display', sans-serif;
  color: #dcd09c; /*color of navigation links*/
  text-align: center;
}

.MobileMain {
  width: 100%;
  color: #dcd09c;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.MobileMain a {
  display: block;
  margin: 50px;
  cursor: pointer;
  font-size: 30px
}

.Contact.Mobile {
	background-color: white;
	color: #1c5d2e;
}

.Contact.Mobile .ContactFields {
  position: absolute; 
  
  right: 0; 
  top: 0;
 
  width: 100%; /* Need a specific value to work */
  height: 90%;
  margin-left: auto;
  margin-right: auto;
}

.Contact.Mobile .ContactField {
  font-size: 14px;
  margin-top: 40px;
  text-align: center;
}

.Contact.Mobile .back {


	margin-bottom: 5rem;
  text-align: center;
  font-weight: bold;
  color: white;

}

.Contact.Mobile .contactHeader{
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10px;
  text-align: center;
  
}

.Contact.Mobile .ShowsField {
  font-family: 'Knockout', sans-serif;
  margin-top: 12px;
  text-decoration: underline;
  font-weight: bold;


}
